<div class="header">
  
  <div class="header-top1">
    <div class="lang">
      <a href="<%=change_language_path('en')%>">English</a> | <a href="<%=change_language_path('es')%>">Español</a>
    </div>
  </div>

  <div class="header-top2">
    <div class="photo">
      <%= image_tag 'mario.jpg', :size => '60x60' %>
    </div>
    <div class="details">
      <h1>Carlos Duclós</h1>
      <ul>
        <li>&nbsp;Ruby on Rails Developer</li>
        <li>&nbsp;Css3 & Html5</li>
      </ul>

      
    </div>
  </div>

</div>