<div class="navigation">
  <h1><%= t(:topics_label) %></h1>
  <ul>
    <% session[:categories].each do |c| %>
      <%= link_to (root_path + 'guides/' + c.path) do %>
      <li>
        <%= c.name %>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>