<script type="text/javascript">
  function closeRatingNotification() {
    $(".rating").slideUp();
  }
</script>

<div class="rating">
  <div class="rating-header">
    <button type="button" class="close" style="color:white" data-dismiss="alert" onclick="closeRatingNotification();">×</button>
  </div>
  <div class="rating-container">
    <div class="rating-name">
      <%=t(:how_much_did_you_like_the_page_label) %>
    </div>
    <div class="rating-stars">
      <div class="basic" id="20_1"></div>
    </div>
    <div class="rating-thanks">
      <%=t(:thanks_rating) %>
    </div>
  </div>
  
</div>
