<div class="rightmenu">
  <h1><%= t(:all_demos_label) %></h1>
  <% @demos.each do |d| %>
  
    <a href="<%= d.url %>" target="_blank">
      <div class="name">
        <%= d.name %>
      </div>
    </a>
  <% end %>
</div>