<script type="text/javascript">
  /*
  $(document).ready(function(){
    $('div[id^="div_"]').mouseover(function(){
      var childs = this.getElementsByTagName('div');
      var item_image = childs[0];
      var item_code = childs[1];
      
      item_image.style.display = 'none';
      item_code.style.display = 'block';
    });

    $('div[id^="div_"]').mouseout(function(){
      var childs = this.getElementsByTagName('div');
      var item_image = childs[0];
      var item_code = childs[1];
      
      item_image.style.display = 'block';
      item_code.style.display = 'none';
    });
  });
  */
</script>

<!-- First row -->
<div class="block">
  <% @random_articles.each do |a|%>
    <div class="random-item">
      <div class="random-item-image">
        <%= image_tag a.image_url, :size => '46x46' %>
      </div>
      <div class="random-item-name"><%= a.name %></div>
      <div class="random-item-description"><%=  %></div>
    </div>
  <% end %>
</div> 
  
