<script type="text/javascript">

  var delay = 100;
  var count = 0;
  var current_div = null;

  function randomitem(){

    if(count == 20){
      var loading_div = document.createElement('div');
      loading_div.className = 'loading';
      current_div.appendChild(loading_div);

      delay = 100;
      count = 0;
      return;
    }

    $(".random-item-highlighted").attr("class", "random-item");

    var divs_array = $('div[id^="article"]');
    var randomnumber = Math.floor(Math.random()*divs_array.length);

    for(var i=0; i<divs_array.length; i++){
      if(i==randomnumber){
        count += 1;
        highlight(divs_array[i]);
        setTimeout(function(){randomitem()}, delay);
      }
    }
  }
  
  function highlight(div){
    $(".random-item-highlighted").attr("class", "random-item");
    $("#"+div.id).attr("class", "random-item-highlighted");
    current_div = div;
  }

</script>

<div class="tryluck">
  <input type="button" class="btn btn-inverse" style="font-size: 11px" value="Quick start" onclick="randomitem()" />
</div>
<div class="block">
  
  <% @random_articles.each do |a|%>
    
      <div id="article_<%=a.id%>" class="random-item">
        <%= link_to guides_category_and_article_path(a.category.path, a.path) do %>
        <div class="random-item-image">
          <%= image_tag a.image_url, :size => '46x46' %>
        </div>
        <div class="random-item-name">
          <%= a.name %>
        </div>
        <!--<div class="random-item-description"></div>-->
        <% end %>
      </div>
    
  <% end %>
</div> 
  
