<script type="text/javascript">
  
  function switchImage(e){
    var element = e.target;
    alert(element.id);
    var childs = element.getElementsByTagName('div');
    childs[0].style.display = 'none';
  }

</script>

<!-- First row -->
<div class="block">
  <% class_name = '' %>

  <% for c in (0..session[:categories].size-1) do %>
    <% if c%3 == 0 %>
      <% class_name = 'dashboard-first-item' %>
    <% else %>
      <% class_name = 'dashboard-item' %> 
    <% end %>

    <div class="<%=class_name%>" onmouseover="switchImage(this);">
      <div id="item-content" class="item-name">  
        <%= image_tag(session[:categories][c].image_url) %>
      </div>
      <div class="item-description">
        
      </div>
    </div>
  <% end %>
  
</div> 
  
