<script type="text/javascript">
  /*
  $(document).ready(function(){
    $('div[id^="div_"]').mouseover(function(){
      var childs = this.getElementsByTagName('div');
      var item_image = childs[0];
      var item_code = childs[1];
      
      item_image.style.display = 'none';
      item_code.style.display = 'block';
    });

    $('div[id^="div_"]').mouseout(function(){
      var childs = this.getElementsByTagName('div');
      var item_image = childs[0];
      var item_code = childs[1];
      
      item_image.style.display = 'block';
      item_code.style.display = 'none';
    });
  });
  */
</script>

<!-- First row -->
<div class="block">
  <% class_name = '' %>

  <% count = 0 %>
  <% session[:categories].each do |c| %>
    <% if count%3 == 0 %>
      <% class_name = 'dashboard-first-item' %>
    <% else %>
      <% class_name = 'dashboard-item' %> 
    <% end %>

    <div id="<%= 'div_' + count.to_s %>" class="<%=class_name%>" >
      <%= link_to (root_path + 'guides/' + c.path) do %>
        <div class="item-image">  
          <%= image_tag(c.image_url, size: '120x100') %>
        </div>
        <div class="item-code">
        </div>
      <% end %>
    </div>
    <% count += 1 %>
  <% end %>
  
</div> 
  
