<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Juego de naves</title>
<%= javascript_include_tag "naves/mootools-core-1.4.5-full-compat-yc.js" %>
<%= javascript_include_tag "naves/mootools-more-1.4.0.1.js" %>
<%= javascript_include_tag "naves/kinetic-v4.3.3.min.js" %>
<%= javascript_include_tag "naves/spaceship.js" %>
<style>
  #container {
    margin: auto;
    width: 400px;
    height: 400px;
  }
  canvas {
    border: 1px solid #c3c3c3;
    background-color: #000;
  }
</style>
</head>
<body>

  <div id="container"></div>

</body>
</html>