
.fb_edge_widget_with_comment{
  position: absolute;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
  display: none !important;
}

.comments {
  float:left;
  margin-top: 40px;
  width: 100%;
}

.comments .comments-list h3 {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  font-size: 18px;
  color: #888;
}

.comments .item {
  width: 100%;
  min-width: 600px;
  max-width: 100%;

  min-height: 53px;
  max-height: 400px;
  background-color: #F1F1F7;
  overflow:auto;
  margin-bottom: 5px;

  border: 1px solid #dddddd;
}

.comments .item .image {
  float: left;
  min-width: 50px;
}

.comments .item .description {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  min-width: 540px;
  width: 90%;
}

.comments .item .description {
  font-size: 11px;
}

.comments .userimage {
  margin-top: 10px;
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

.comments .comments-form {
  margin-top: 40px;
  color: #888;
}

.comments .comments-form h3 {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}

.close-item {
  position: absolute;
  float: right;
  margin-top: 5px; 
  margin-right: 5px;
}