.rightmenu {
  text-align: left;
  width: 15%;
  max-width: 200px;
  height: 100%;
  min-height: 100%;
  float: right;
  margin: auto;
  border-left: 1px solid #dddddd;
  background-image: linear-gradient(right , rgb(241,241,247) 0%, rgb(248,248,255) 74%, rgb(248,248,255) 71%);
  background-image: -o-linear-gradient(right , rgb(241,241,247) 0%, rgb(248,248,255) 74%, rgb(248,248,255) 71%);
  background-image: -moz-linear-gradient(right , rgb(241,241,247) 0%, rgb(248,248,255) 74%, rgb(248,248,255) 71%);
  background-image: -webkit-linear-gradient(right , rgb(241,241,247) 0%, rgb(248,248,255) 74%, rgb(248,248,255) 71%);
  background-image: -ms-linear-gradient(right , rgb(241,241,247) 0%, rgb(248,248,255) 74%, rgb(248,248,255) 71%);
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0, rgb(241,241,247)),
    color-stop(0.74, rgb(248,248,255)),
    color-stop(0.71, rgb(248,248,255))
  );
}

.rightmenu .name {
  font-family: "oswaldregular";
  margin: 0px;
  cursor: pointer;
  height: 25px;
  padding-top: 9px;
  padding-left: 20px;
}

.rightmenu .selected-name {
  font-family: "oswaldregular";
  background-color: #757575;
  color: #ddd;
  margin: 0px;
  padding-left: 5px; 
  cursor: pointer;
  height: 25px;
  padding-top: 9px;
  padding-left: 20px;
}

.rightmenu a{
  font-size: 1.1em;
  cursor: pointer;
  color: #85B3D4;
  text-decoration: none;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.rightmenu a:hover{
  text-decoration: none;
}

.rightmenu .name:hover {
  background-color: #dddddd; 
  border-top: none;
}

.rightmenu h1 {
  font-family: "oswaldlight";
  font-size: 19px;
  padding-left: 10px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #757575;
}